
#nprogress .bar {
  height: 10px;
  background: linear-gradient(45deg, #ff0000, #ff7f00, #ffff00, #7fff00, #00ff00, #00ff7f, #00ffff, #007fff, #0000ff, #7f00ff, #ff00ff, #ff007f, #ff0000);
  background-size: 400% 400%;
  animation: gradientAnimation 5s ease infinite;
}

/* Keyframes for gradient animation */
@keyframes gradientAnimation {
  0% { background-position: 0% 0%; }
  50% { background-position: 100% 100%; }
  100% { background-position: 0% 0%; }
}
